<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> EXERCISE1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Biodata</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-card-header class="header">
        <ion-card-title>Personal Info</ion-card-title>
      </ion-card-header>
      <ion-card-content class="data-content">
        <div class="data-content-container">
          <span> Last Name </span>
          <span>Flores</span>
        </div>
        <div class="data-content-container">
          <span> First Name </span>
          <span>John Albert</span>
        </div>

        <div class="data-content-container">
          <span> Middle Initial </span>
          <span>B.</span>
        </div>

        <div class="data-content-container">
          <span> Date of Birth </span>
          <span>January 1, 1990</span>
        </div>

        <div class="data-content-container">
          <span> Place of Birth </span>
          <span>Manila</span>
        </div>

        <div class="data-content-container">
          <span> Gender </span>
          <span>Male</span>
        </div>

        <div class="data-content-container">
          <span> Marital Status </span>
          <span>Single</span>
        </div>

        <div class="data-content-container">
          <span> National Status </span>
          <span>Filipino</span>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header class="header">
        <ion-card-title>Other Info</ion-card-title>
      </ion-card-header>
      <ion-card-content class="data-content">
        <div class="data-content-below">
          <span> Languages Known </span>
          <span>English, Tagalog</span>
        </div>

        <div class="data-content-below">
          <span> Address </span>
          <span>Barangay Cinco-Cinco, Cabanatuan City, Nueva Ecija</span>
        </div>

        <div class="data-content-below">
          <span> Email Address </span>
          <span> test123@gmail.com </span>
        </div>

        <div class="data-content-below">
          <span> Phone Number </span>
          <span> 09123456789 </span>
        </div>

        <div class="data-content-below">
          <span> Education Qualification </span>
          <span> Undergraduate </span>
        </div>

        <div class="data-content-below">
          <span> University/Institution Name </span>
          <span> Nueva Ecija Univisity of Science & Technology </span>
        </div>

        <div class="data-content-below">
          <span> Graduation Year </span>
          <span> 2025 </span>
        </div>

        <div class="data-content-below">
          <span> Major/Field of Study </span>
          <span> Web Development </span>
        </div>

        <div class="data-content-below">
          <span> Estimated GPA/Percentage </span>
          <span> 2.00 </span>
        </div>

        <div class="data-content-below">
          <span> Work Experience </span>
          <span> Freelancing (2018) </span>
        </div>

        <div class="data-content-below">
          <span> Technical Skills </span>
          <div class="badges">
            <ion-badge color="warning"> Python </ion-badge>
            <ion-badge color="warning"> JavaScript </ion-badge>
            <ion-badge color="primary"> Programming </ion-badge>
            <ion-badge color="tertiary"> Web Development </ion-badge>
            <ion-badge color="primary"> PHP </ion-badge>
            <ion-badge color="warning"> HTML/CSS </ion-badge>
            <ion-badge color="warning"> SQL & DBMS </ion-badge>
            <ion-badge color="danger"> Git </ion-badge>
            <ion-badge color="primary"> VSCode </ion-badge>
          </div>
        </div>

        <div class="data-content-below">
          <span> Soft Skills </span>
          <span> Communication, Problem-Solving </span>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
